Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore

@nguyener
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


2,838
88,217 43,944 github/gitignore
 Code  Pull requests 105  Actions  Projects 0  Security  Insights
gitignore/Rails.gitignore
@okuramasafumi okuramasafumi Don't ignore tmp and log directory (#2999)
1a417fe on Mar 14
@arcresu @sidewinder94 @shawndavenport @maxehmookau @jeffrydegrande @defunkt @grossadamm @zellux @yaroslav @wafiq @valentine @tomafro @seenmyfate @chimame @renhx @lunks @pisaacs @sdhull @michaelminter @mwitek @okuramasafumi @martinciu @jgeiger @gurvircheema @frankel @fabianhjr
67 lines (52 sloc)  1.26 KB

*.rbc
capybara-*.html
.rspec
db/
coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
log/
tmp/
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
public/

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
storage/
!/storage/.keep

#Ignore .idea/
.idea/

test/
lib/
bin/
vendor/

